<div class="jumbotron">
  <h2>Guest Section</h2>
</div>
<div class="container"  *ngFor="let beer of beers" (click)="onSelect(beer)">
  <div class="row">
    <div class="col-md-2">
      <span >{{beer.brand}}</span>
    </div>
    <div class="col-md-2">
      <span>{{beer.name}}</span>
    </div>
    <div class="col-md-2">
      <span>{{beer.price*16}}</span>
    </div>
    <div class="col-md-2">
      <span>{{beer.abv}}</span>
    </div>
  </div>
  <hr>
</div>

<h2>Selected Beer</h2>
<div class="container selected">
  <div class="row">
    <div class="col-md-1">
      <span>&nbsp;</span>
    </div>
    <div class="col-md-1">
      <span class="title">Beer ID</span>
    </div>
    <div class="col-md-3">
      <span class="title">Name</span>
    </div>
    <div class="col-md-3">
      <span class="title">Brewery</span>
    </div>
    <div class="col-md-1">
      <span class="title">Price / oz.</span>
    </div>
    <div class="col-md-1">
      <span class="title">ABV</span>
    </div>
    <div class="col-md-1">
      <span class="title">keg size</span>
    </div>
    <div class="col-md-1">
      <span>&nbsp;</span>
    </div>
  </div>
</div>
<div class="container"  *ngIf="beer" (click)="onSelect(beer)">
  <div class="row">
    <div class="col-md-1">
      <span>&nbsp;</span>
    </div>
    <div class="col-md-1">
      <span>{{beer.id}}</span>
    </div>
    <div class="col-md-3">
      <span>{{beer.name}}</span>
    </div>
    <div class="col-md-3">
      <span>{{beer.brewery}}</span>
    </div>
    <div class="col-md-1">
      <span>{{beer.price}}</span>
    </div>
    <div class="col-md-1">
      <span>{{beer.abv}}</span>
    </div>
    <div class="col-md-1">
      <span>{{beer.size}}</span>
    </div>
    <div class="col-md-1">
      <span>&nbsp;</span>
    </div>
  </div>
</div>
